.inicio{
    height: 83vh;
    width: 100%;
    
}

.inicio .interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.inicio .interface .txt-inicio h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4em;
    letter-spacing: 30px;
    line-height: 150px;
}

.inicio .interface .txt-inicio h2{
    font-size: 4em;
    font-family: var(--logo);
    background: linear-gradient(to top, var(--rosa), var(--roxo));
    -webkit-text-stroke: 0.1px black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.inicio .interface .btn-inicio a button{
    margin-top: 60px;
    height: 60px;
    width: 320px;

    background-image: linear-gradient(to top, var(--rosa), var(--roxo));
    color: black;
    border: 1px solid black;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    

    transition: .5s;
}

.inicio .interface .btn-inicio a button:hover{
    
    transform: scale(1.05);
}






